<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body{
            color: #ffff;
            background: #333;
            text-align: center;
            padding-top: 100px;
        }
        
        a{
            color: crimson;
            text-decoration: none;
            font-size: 1.2em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        a:hover{
            text-decoration: underline;
        }

    </style>
</head>
<body>
    <h1>
        About website
    </h1>
    <p>page about our company</p>
    <a href="/">main page</a>
</body>
</html>