<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My website</title>
    <style>
        body{
            color: #ffff;
            background: #333;
            text-align: center;
            padding-top: 100px;
        }
        
        a{
            color: crimson;
            text-decoration: none;
            font-size: 1.2em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        a:hover{
            text-decoration: underline;
        }

    </style>
</head>
<body>
    <h1 align ='center'>Main page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Eum asperiores perferendis numquam dolores voluptas 
         repudiandae iusto iste inventore debitis deserunt a mollitia placeat corporis 
         commodi fuga odio, sequi magnam possimus.</p>

         <a href="/about"> about us</a>
</body>
</html>